[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/budparr/gohugo-theme-ananke.git
[submodule "themes/lachesis"]
	path = themes/lachesis
	url = https://github.com/ajduncan/gohugo-theme-lachesis.git
